@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

/* #Primary
================================================== */

body {
    background-color: #fff;
}


/*
*
* ==========================================
* NAVBAR  Start
* ==========================================
*
*/

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 15px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: rgba(255, 255, 255, 0.95);
}

.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 #8a9ba526;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: rgba(255, 255, 255, 0.95);
}

.start-header.scroll-on .navbar-brand img {
    height: 24px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    padding: 0px;
}

.navbar-brand img {
    height: 28px;
    width: auto;
    display: block;
    filter: brightness(10%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #47536e !important;
    font-weight: 500;
    font-size: 17px;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link {
    color: #007bff !important;
}

.nav-item.active .nav-link {
    color: #007bff !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #007bff;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}


/* #Primary style
================================================== */

.full-height {
    height: 100vh;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
    padding: 10px !important;
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    padding: 3px 15px;
    color: #000000;
    border-radius: 2px;
    transition: all 200ms linear;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: #007bff;
}


/*
*
* ==========================================
* NAVBAR  End
* ==========================================
*
*/


/*
*
* ==========================================
* @MEDIA 991.98PX start
* ==========================================
*
*/

@media (max-width: 767px) {
    .nav-item:after {
        display: none;
    }
    .nav-item::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }
    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(90deg);
        opacity: 0;
    }
    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    .bg-light-1 {
        background: rgba(255, 255, 255, 0.95);
    }
}


/*
*
* ==========================================
* @MEDIA 991.98PX end
* ==========================================
*
*/


/*
*
* ==========================================
* slider start
* ==========================================
*
*/


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ffffff;
}

#hero {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 140px 0 100px 0;
    margin-bottom: -30px;
}

#hero::before {
    content: '';
    position: absolute;
    right: -100%;
    top: 20%;
    width: 250%;
    height: 200%;
    z-index: -1;
    background-color: #e8ecf5;
    transform: skewY(135deg);
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #5777ba;
    font-family: 'Raleway', sans-serif;
}

#hero h2 {
    color: #515f7d;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}


/*   
  #hero .download-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 8px 24px 10px 46px;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #47536e;
    position: relative;
  }
  
  #hero .download-btn:hover {
    background: #5777ba;
  }
  
  #hero .download-btn i {
    font-size: 20px;
    position: absolute;
    left: 18px;
    top: 8.5px;
  }
  
  #hero .download-btn + .download-btn {
    margin-left: 20px;
  }
 */

.img-fluid {
    max-width: 100%;
    height: auto
}

@media (max-width: 991px) {
    #hero {
        text-align: center;
    }
    /* #hero .download-btn + .download-btn {
      margin: 0 10px;
    } */
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 60%;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}


/*
*
* ==========================================
* slider end
* ==========================================
*
*/

.section-bg {
    background-color: #fff;
}

.section-title {
    padding: 60px 0;
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    line-height: 1px;
    margin-bottom: 15px;
    color: #c2b7b1;
}

.section-title p {
    letter-spacing: 2px;
    font-family: 'Raleway';
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #5777ba;
}

.section-title p::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: #f6d55c;
    bottom: 0;
    left: calc(50% - 30px);
}


/* what we do */

@import url("https://fonts.googleapis.com/css?family=Raleway:400,200");
.wwdp {
    padding-bottom: 50px;
}

.transition {
    transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.card-1 {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    height: 300px;
    left: 0;
    margin: 25px auto;
    overflow: hidden;
    position: relative;
    right: 0;
    width: 270px;
}

.card-1:hover {
    height: 450px;
    width: 270px;
}

.card-1:hover .cta-container {
    display: inline;
    margin-top: 380px;
}

.card-1:hover .card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: -130px;
}

.card-1:hover h2 {
    background: #3487f7;
    color: #fff;
    margin-top: 100px;
    padding: 5px;
}

.card-1:hover h2 small {
    color: #fff;
}

.card-1:hover p {
    margin-top: 300px;
}

.card_circle {
    /* background: url("http://lorempixel.com/400/200") no-repeat center bottom; */
    background-color: #3487f7;
    background-size: cover;
    border-radius: 50%;
    height: 400px;
    margin-left: -75px;
    margin-top: -270px;
    position: absolute;
    width: 145%;
}

.card-1 h2 {
    color: #072366;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.card-1 p {
    color: rgba(0, 0, 0, 0.6);
    font-family: "Raleway", sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-top: 200px;
    position: absolute;
    text-align: center;
    z-index: 9999;
}

.cta-container {
    display: none;
    margin-top: 320px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.cta {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid #3487f7;
    border-radius: 2px;
    color: #3487f7;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}

.cta:hover {
    background-color: #3487f7;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* grid */

.section-grid {
    background-color: #f2f5fa;
}

.section-grid .w-grid {
    text-align: center;
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin: 25px auto;
    border-radius: 10%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
}

.section-grid .w-grid:hover {
    height: 380px;
    width: 250px;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.section-grid .w-grid .wrapper img {
    position: relative;
    z-index: 20;
    border-radius: 50%;
    display: block;
    height: 110px;
    width: 110px;
    border: 5px solid #fff;
    cursor: pointer;
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.5s ease;
}

.section-grid .w-grid:hover .wrapper img.active {
    height: 380px;
    width: 250px;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
}

.section-grid .wrapper .title-grid {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    line-height: 25px;
}

.section-grid .wrapper .place-grid {
    color: #fff;
    font-size: 13px;
    line-height: 0px;
    margin: 10px 0;
}

.section-grid .content-1 {
    color: #fff;
    font-size: 15px;
    margin-top: 30px;
    /* padding: 1px 20px 10px 20px !important; */
}

.section-grid .content-1 .btn-1 {
    background: #fff;
    height: 30px;
    width: 100px;
    margin: 0 10px;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s;
}

.section-grid .content-1 .btn-1:hover {
    transform: scale(0.95);
}

.section-grid .star-rating {
    line-height: 32px;
    font-size: 1.25em;
    margin-top: 15px;
}

.section-grid .star-rating .fa-star {
    color: yellow;
}

.section-grid .w-grid .icons {
    position: relative;
    margin-top: -373px;
    /* margin-left: 10px */
}

.section-grid .w-grid .icons li {
    list-style-type: none;
    height: 40px;
    width: 40px;
    opacity: 0;
    margin-left: -100px;
    transition: all 0.7s ease;
}

.section-grid .w-grid:hover .icons li {
    opacity: 1;
    margin-left: -40px;
}

.section-grid .w-grid:hover .icons li:nth-child(2) {
    transition-delay: 0.2s;
}

.section-grid .w-grid:hover .icons li:nth-child(3) {
    transition-delay: 0.4s;
}

.section-grid .w-grid .icons li a {
    color: #7b00e0;
    height: 100%;
    width: 100%;
    /* border-radius: 50%; */
    background: #fff;
    display: block;
    line-height: 40px;
    transition: all 0.3s;
}

.section-grid .w-grid .icons li a:hover {
    transform: scale(0.9);
}

.hero {
    width: 80%;
    height: 450px;
    position: relative;
    margin: 50px auto;
}


/*grid */

.section-title-grid h2 {
    font-weight: 700 !important;
    font-size: 30px !important;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.text-center {
    padding: 4px 0px 0px 0px;
}

#filter-itme {
    margin: 0;
    list-style-type: none;
}

#filter-list {
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 30px;
    padding: 4px;
    margin: 0 0 30px;
}

#filter-list li {
    display: inline-block;
    font-size: 16px;
    color: #888888;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    font-weight: 500;
    padding: 0 20px;
    min-width: 130px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#filter-list li.active,
#filter-list li:hover {
    background-color: #5776b9;
    color: #fff;
}


/* 
//banner//

.banner-section {
    background: url(https://source.unsplash.com/featured/?help) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    margin-top: 60px;
}

.inner-container-1 {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    border: 0.3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 150px;
}

.inner-container-1 h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.inner-container-1 span {
    color: royalblue;
}
//
.text-1 {
    font-size: 20px;
    font-style: oblique;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.text-1 span {
    color: royalblue;
} //

@media screen and (max-width: 1200px) {
    .inner-container-1 {
        padding: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .banner-section {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container-1 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .banner-section {
        padding: 0;
    }
    .inner-container-1 {
        padding: 60px;
        background-color: seashell;
        text-align: center;
    }
    .text-1 {
        font-size: 20px;
        font-style: oblique;
        color: #545454;
        line-height: 30px;
        text-align: justify;
        margin-bottom: 40px;
        text-align: center;
    }

   
} 

*/


/*newssletter*/


/*newssletter*/

.home-newsletter {
    padding: 50px 0;
    background: #fef8f5;
    text-align: center;
    font-size: 15px;
}

.home-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #4e4039;
}

.home-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.home-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 4px;
    width: calc(100% - 100px);
}

.home-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #eb5d1e;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.home-newsletter form input[type="submit"]:hover {
    background: #c54811;
}


/*footer*/

footer {}

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    .main {
        line-height: normal;
        font-size: auto;
    }
}


/* about us page */

.atik-about-header .about-header-bg {
    background-size: cover;
    background-image: linear-gradient(to right, #010101, #00000026), url(https://source.unsplash.com/featured/?about);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 100px;
}

.atik-about-header .about-header-bg h2 {
    font-size: 44px;
    color: #fff;
    font-weight: 600;
}

.atik-about-header .about-header-bg p {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}

.atik-about-header .about-header-bg p a {
    font-size: 16px;
    color: var(--primary-color);
}

.atik-about-header .about-header-bg p a:hover {
    text-decoration: underline;
    color: #fff;
}

@media (max-width: 736px) {
    .atik-about-header .about-header-bg h2 {
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    .atik-about-header .about-header-bg h2 {
        font-size: 35px;
    }
    .atik-about-header .about-header-bg {
        padding-top: 69px;
    }
}


/*
    */

.w3l-features-4 {
    /*--//content--*/
    /*--/responsive-code--*/
    /*--//responsive-code--*/
}

.w3l-features-4 .features {
    background: #ffffff;
}

.w3l-features-4 a.red {
    font-size: 16px;
    line-height: 24px;
    color: var(--opposite-color);
    display: inline-block;
    font-weight: 700;
}

.w3l-features-4 a.red:hover {
    color: var(--theme-color);
}

.w3l-features-4 .features h5 {
    font-size: 20px;
    line-height: 26px;
    color: var(--title-color);
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 12px;
}

.w3l-features-4 .features h5 a {
    color: var(--title-color);
}

.w3l-features-4 .features h5 a:hover {
    color: var(--opposite-color);
}

.w3l-features-4 .icon span.fa {
    font-size: 20px;
    color: #fff;
    line-height: 48px;
}

.w3l-features-4 .feature-gd img {
    border-radius: 4px;
}

.w3l-features-4 .features p {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.w3l-features-4 .feature-gd p {
    max-width: 450px;
}

blockquote {
    border-left: none
}

.quote-box {
    border-radius: 17px;
    background-color: #4ADFCC;
    color: white;
    width: auto;
    height: 200px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
}


/*//////*/

.atik-content-with-photo-4 {
    background: #f6f6f6;
}

.atik-content-with-photo-4 {
    /*-- content-with-photo4 block --*/
}

.atik-content-with-photo-4 .cwp4-two img {
    border-radius: 5px;
}

.atik-content-with-photo-4 .cwp4-text {
    align-self: center;
}

.atik-content-with-photo-4 .cwp4-text h3 {
    font-size: 36px;
    line-height: 44px;
    color: var(--title-color);
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 600;
}

.atik-content-with-photo-4 .cwp4-text h4 {
    font-size: 26px;
    line-height: 32px;
    color: var(--title-color);
    font-weight: 700;
}

.atik-content-with-photo-4 .cwp4-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    margin: 25px 0;
}

.atik-content-with-photo-4 ul.cont-4 li {
    display: block;
}

.atik-content-with-photo-4 ul.cont-4 li span.fa {
    color: var(--opposite-color);
    padding-right: 5px;
}

.atik-content-with-photo-4 .cwp4-text ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    margin: 10px 0;
}

@media all and (max-width: 991px) {
    .atik-content-with-photo-4 .cwp4-image img {
        width: 100%;
    }
}

@media all and (max-width: 600px) {
    .atik-content-with-photo-4 .cwp4-text h3 {
        font-size: 30px;
        line-height: 35px;
    }
}

@media all and (max-width: 387px) {
    .atik-content-with-photo-4 .cwp4-text h3 {
        font-size: 26px;
        line-height: 32px;
    }
}

@media all and (max-width: 320px) {
    .atik-content-with-photo-4 .cwp4-text h4 {
        font-size: 23px;
        line-height: 28px;
    }
    .atik-content-with-photo-4 #content-with-photo4-block {
        padding: 0 0 2.5rem 0;
    }
}


/*
                
                
                */

.atik-specifications-9 {
    /* //Reset Code */
    /* specifications */
    /* //specifications */
    /* responsive */
    /* //responsive */
}

.atik-specifications-9 .main-w3 {
    background: linear-gradient(10deg, #5360fd 10%, #055fc0 50%, #007bff 100%);
}

.atik-specifications-9 .grids-speci1 span.fa {
    font-size: 60px;
    color: white;
    margin-bottom: 15px;
}

.atik-specifications-9 h3.title-spe {
    color: white;
    font-size: 38px;
    line-height: 52px;
    /* margin-bottom: 16px; */
    font-weight: 700;
}

.atik-specifications-9 .grids-speci1 p {
    font-size: 16px;
    font-family: "Raleway";
    letter-spacing: 2px;
    line-height: 24px;
    font-weight: 600;
    color: white;
    opacity: 0.8;
}

@media (max-width: 1080px) {
    .atik-specifications-9 .grids-speci p {
        font-size: 19px;
    }
    .atik-specifications-9 .main-w3 {
        padding: 3rem 0;
    }
}

@media (max-width: 991px) {
    .atik-specifications-9 .spec-2 {
        background: rgba(255, 255, 255, 0.1);
        padding: 30px 30px;
        border-radius: 4px;
    }
    .atik-specifications-9.grids-speci1 span.fa {
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    .atik-specifications-9 .grids-speci p {
        font-size: 18px;
    }
}

@media (max-width: 736px) {
    .atik-specifications-9 .main-w3 {
        padding: 2rem 0;
    }
    .atik-specifications-9 .grids-speci p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .atik-specifications-9 h3.title-spe {
        font-size: 34px;
    }
    .atik-specifications-9 .grids-speci p {
        font-size: 15px;
    }
}

@media (max-width: 440px) {
    .atik-specifications-9 h3.title-spe {
        font-size: 32px;
    }
    .atik-specifications-9 .main-w3 {
        padding: 1.5rem 0;
    }
    .atik-specifications-9 .grids-speci {
        padding: 30px 20px;
    }
    .atik-specifications-9 h3.title-top {
        font-size: 32px;
        line-height: 37px;
    }
    .atik-specifications-9 .grids-speci1 p {
        line-height: 19px;
    }
}

@media (max-width: 384px) {
    .atik-specifications-9 .grids-speci {
        padding: 20px 20px;
    }
    .atik-specifications-9 .spec-2 {
        padding: 20px 10px;
    }
    .atik-specifications-9 h3.title-spe {
        font-size: 30px;
        line-height: 30px;
    }
    .atik-specifications-9 .grids-speci1 p {
        font-size: 14px;
        line-height: 18px;
        margin-top: 7px;
    }
}


/*  


                        */

.w3l-team-main {
    /*-- team --*/
}

.w3l-team-main .team {
    background: #f7f7f7;
}

.w3l-team-main .team-wrap {
    margin-bottom: 44px;
}

.w3l-team-main h3.name-pos,
.w3l-team-main .social {
    margin-top: 16px;
}

.w3l-team-main p.team-text {
    font-size: 18px;
    color: #5f5f5f;
    line-height: 30px;
    max-width: 650px;
}

.w3l-team-main .team-info p {
    font-size: 16px;
    line-height: 25px;
    color: #585858;
}

.w3l-team-main h3.name-pos a {
    font-size: 22px;
    line-height: 26px;
    color: #101923;
    font-weight: 700;
}

.w3l-team-main .team-info:hover h3.name-pos a {
    color: #23374d;
    transition: 0.3s ease;
}

.w3l-team-main .column {
    overflow: hidden;
}

.w3l-team-main .column a img {
    display: block;
    transition: transform 0.3s linear;
    border-radius: 4px;
    width: 50%;
    height: auto;
}

.w3l-team-main .team-info:hover img.team-image {
    transform: scale(1.1);
    transition: transform 0.3s linear;
    border-radius: 4px;
}

.w3l-team-main .social a {
    display: inline-block;
    margin-right: 6px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    background: black;
    color: #fff;
}

.w3l-team-main .social a.phone {
    margin-right: 0;
}

.w3l-team-main .social a:hover {
    background: white;
    color: #000;
    transition: 0.3s ease;
}

.w3l-team-main .social a span {
    font-size: 12px;
    line-height: 30px;
    display: block;
}

@media (max-width: 767px) {
    .w3l-team-main h3.name-pos a {
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: 667px) {
    .w3l-team-main .team-info p {
        font-size: 15px;
    }
    .w3l-team-main .column a img {
        display: block;
        transition: transform 0.3s linear;
        width: 100%;
    }
    .w3l-team-main .social a {
        display: inline-block;
        margin-right: 1px;
    }
}

@media (max-width: 568px) {
    .w3l-team-main .social a {
        display: inline-block;
        margin-right: 1px;
    }
}


/* danate list page*/

.location-f-d-l {
    background-image: url("https://source.unsplash.com/featured/?fun");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}

.location-f-d-l .form-row-1 {
    /* margin-top: 50px; */
    margin-bottom: -90px;
    padding-top: 26px;
    padding-bottom: 20px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 2px #22212144;
    border-radius: 2px;
}

.location-f-d-l .form-row-1 .title {
    color: #ee5057;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Raleway';
    letter-spacing: 2px;
}

.location-f-d-l .section-break-1 {
    margin-bottom: 50px;
}

.location-f-d-l .section-break-1:before {
    background-color: #ee5057;
    color: rgba(0, 0, 0, 0.6);
    content: '\22A1';
    font-size: 30px;
    left: 50%;
    letter-spacing: 0;
    line-height: 0.6;
    position: absolute;
    text-indent: -7px;
    text-rendering: geometricPrecision;
    transform: translate(-50%, -65%);
    width: 20px;
}

.location-f-d-l i {
    font-size: 25px;
    color: #ee5057;
}

.location-f-d-l .input-group-text {
    color: #495057;
    background-color: #fff;
    border-radius: .25rem;
    border-right: none !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.location-f-d-l .form-control {
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-left: none !important;
    height: 40px;
    font-size: 1.1rem;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.location-f-d-l .btn {
    margin-top: -3px;
}

.location-f-d-l img {
    width: 30px;
    height: 30px;
}


/**/

.donate-list-grid {
    background-color: #f2f5fa;
}

.donate-list-grid .w-grid {
    text-align: center;
    height: 380px;
    width: 250px;
    overflow: hidden;
    margin: 25px auto;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
}

.donate-list-grid .w-grid .wrapper img {
    position: relative;
    z-index: 20;
    border-radius: 50%;
    display: block;
    height: 110px;
    width: 110px;
    border: 5px solid #fff;
    cursor: pointer;
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.5s ease;
}

.donate-list-grid .w-grid:hover .wrapper img.active {
    height: 380px;
    width: 250px;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
}

.donate-list-grid .wrapper .title-grid {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    line-height: 25px;
}

.donate-list-grid .wrapper .place-grid {
    color: #fff;
    font-size: 13px;
    line-height: 0px;
    margin: 10px 0;
}

.donate-list-grid .content-1 {
    color: #fff;
    font-size: 15px;
    margin-top: 30px;
    /* padding: 1px 20px 10px 20px !important; */
}

.donate-list-grid .content-1 .btn-1 {
    background: #fff;
    height: 30px;
    width: 100px;
    margin: 0 10px;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s;
}

.donate-list-grid .content-1 .btn-1:hover {
    transform: scale(0.95);
}

.donate-list-grid .star-rating {
    line-height: 32px;
    font-size: 1.25em;
    margin-top: 15px;
}

.donate-list-grid .star-rating .fa-star {
    color: yellow;
}

.donate-list-grid .w-grid .icons {
    position: relative;
    margin-top: -373px;
    /* margin-left: 10px */
}

.donate-list-grid .w-grid .icons li {
    list-style-type: none;
    height: 40px;
    width: 40px;
    opacity: 0;
    margin-left: -100px;
    transition: all 0.7s ease;
}

.donate-list-grid .w-grid:hover .icons li {
    opacity: 1;
    margin-left: -40px;
}

.donate-list-grid .w-grid:hover .icons li:nth-child(2) {
    transition-delay: 0.2s;
}

.donate-list-grid .w-grid:hover .icons li:nth-child(3) {
    transition-delay: 0.4s;
}

.donate-list-grid .w-grid .icons li a {
    color: #7b00e0;
    height: 100%;
    width: 100%;
    /* border-radius: 50%; */
    background: #fff;
    display: block;
    line-height: 40px;
    transition: all 0.3s;
}

.donate-list-grid .w-grid .icons li a:hover {
    transform: scale(0.9);
}


/*contact us page*/

.w3l-contact-breadcrum .breadcrum-bg {
    background-size: cover;
    background-image: linear-gradient(to right, #010101, #00000026), url(https://source.unsplash.com/featured/?contact);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 80px;
}

.w3l-contact-breadcrum .breadcrum-bg h2 {
    font-size: 44px;
    color: #fff;
    font-weight: 600;
}

.w3l-contact-breadcrum .breadcrum-bg p {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}

.w3l-contact-breadcrum .breadcrum-bg p a {
    font-size: 16px;
    color: var(--primary-color);
}

.w3l-contact-breadcrum .breadcrum-bg p a:hover {
    text-decoration: underline;
    color: #fff;
}

@media (max-width: 736px) {
    .w3l-contact-breadcrum .breadcrum-bg h2 {
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    .w3l-contact-breadcrum .breadcrum-bg h2 {
        font-size: 35px;
    }
    .w3l-contact-breadcrum .breadcrum-bg {
        padding-top: 69px;
    }
}


/**/

.w3l-contact-2 .contact-right {
    padding-left: 30px;
}

.w3l-contact-2 .contact-left {
    padding-right: 0px;
}

.w3l-contact-2 .contact-left h4 {
    font-size: 36px;
    font-family: 'Raleway';
    line-height: 42px;
    color: #1a1d2d;
    margin-bottom: 20px;
    font-weight: 700;
}

.w3l-contact-2 .contact-left h6 {
    font-size: 18px;
    font-family: 'Raleway';
    line-height: 28px;
    font-weight: 400;
    color: #585858;
}

.w3l-contact-2 .hours p a {
    font-size: 18px;
    color: #585858;
}

.w3l-contact-2 .hours p a:hover {
    color: black;
}

.w3l-contact-2 .contact-left h6.info {
    font-size: 20px;
    line-height: 28px;
    color: #1a1d2d;
    font-weight: 600;
}

.w3l-contact-2 .hours p {
    font-size: 18px;
    color: #585858;
}

.w3l-contact-2 .contact-grids input,
.w3l-contact-2 .contact-grids textarea {
    width: 100%;
    color: var(--text-color);
    background: #fff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    border: none;
    font-family: inherit;
    padding: 15px;
    border: none;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 0px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.w3l-contact-2 .contact-grids textarea {
    height: 120px;
    margin: 0 0 20px 0;
}

.w3l-contact-2 .contact-grids input:focus,
.w3l-contact-2 .contact-grids textarea:focus {
    border: 1px solid #ee5057;
}

@media (max-width: 992px) {
    .w3l-contact-2 .contact-right {
        padding-left: 0px;
        margin-top: 2em;
    }
    .w3l-contact-2 .contact-grids {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .w3l-contact-2 .contact-left h4,
    .w3l-contact-2 .contact-left h3 {
        font-size: 30px;
        line-height: 38px;
    }
}

@media (max-width: 480px) {
    .w3l-contact-2 .contact-left h4,
    .w3l-contact-2 .contact-left h3 {
        font-size: 28px;
        line-height: 34px;
    }
}


/**/

.w3l-contacts-12 .map iframe {
    width: 100%;
    height: 400px;
    display: block;
}

.btn-theme2 {
    padding: 10px 30px;
    color: var(--white-color);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.3s ease-in;
    border: 2px solid #ee5057;
    background: #ee5057;
}

.btn-theme2:hover {
    background: var(--theme-color);
    border: 2px solid #ee5057;
    color: var(--white-color);
}

.btn-theme2:focus {
    border-color: none !important;
}

@media screen and (max-width: 768px) {
    .w3l-contacts-12 .cont-main-top {
        grid-template-columns: 1fr;
    }
    .w3l-contacts-12 .social-icons-con {
        margin-top: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .w3l-contacts-12 h3.title-main-cont {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 6px;
    }
    .w3l-contacts-12 p.sub-title-cont {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 30px;
    }
    .w3l-contacts-12 .map iframe {
        height: 350px;
    }
}

@media screen and (max-width: 414px) {
    .w3l-contacts-12 .top-inputs {
        grid-template-columns: 1fr;
        grid-gap: 15px;
        margin-bottom: 1rem;
    }
    .w3l-contacts-12 textarea {
        margin: 1rem 0 1.5rem;
    }
}

@media screen and (max-width: 384px) {
    .w3l-contacts-12 .line {
        margin: 3em 0;
    }
}


/**/

.profile-head {
    transform: translateY(5rem);
    padding-top: 185px;
}

.cover {
    background-image: url(https://source.unsplash.com/featured/?cover-photo);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

.btn-edit-profile-con {
    border-radius: 4px;
    border-color: #ee5057;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    font-family: 'Raleway';
    letter-spacing: 1px;
}

.btn-edit-profile-con:hover {
    width: 100%;
    padding: 2%;
    font-weight: 600;
    color: #ee5057;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .profile-head {
        transform: translateY(5rem);
        padding-top: 148px;
    }
    .btn-edit-profile-con {
        border-color: #ee5057;
        background-color: #fff;
    }
    .alleventbtn {
        margin-top: 35px;
    }
}

@media screen and (max-width: 414px) {
    .profile-head {
        transform: translateY(5rem);
        padding-top: 148px;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto
}

#hero-more-d .alleventbtn a {
    position: relative;
    color: #000;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Raleway';
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 2px;
    /* margin-top: -5px; */
    padding: 10px 10px;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
    margin-right: -1px;
    margin-left: 19px;
}

#hero-more-d .alleventbtn a:hover {
    background: #ee5057;
    color: #fff;
    box-shadow: 0 0 5px #ee5057, 0 0 25px #ee5057, 0 0 50px #ee5057, 0 0 200px #ee5057;
}

#hero-more-d .alleventbtn a span {
    position: absolute;
    display: block;
}

#hero-more-d .alleventbtn a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ee5057);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

#hero-more-d .alleventbtn a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ee5057);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

#hero-more-d .alleventbtn a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ee5057);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

#hero-more-d .alleventbtn a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ee5057);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}


/**/

#hero-more-d .alleventbtn-2 a {
    position: relative;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 2px;
    /* margin-top: -5px; */
    padding: 10px 10px;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
    margin-right: -1px;
    margin-left: 19px;
}

#hero-more-d .alleventbtn-2 a:hover {
    background: #ee5057;
    color: #fff;
    box-shadow: 0 0 5px #ee5057, 0 0 25px #ee5057, 0 0 50px #ee5057, 0 0 200px #ee5057;
}

#hero-more-d .alleventbtn-2 a span {
    position: absolute;
    display: block;
}

#hero-more-d .alleventbtn-2 a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ee5057);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

#hero-more-d .alleventbtn-2 a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ee5057);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

#hero-more-d .alleventbtn-2 a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ee5057);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

#hero-more-d .alleventbtn-2 a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ee5057);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}


/*?
*/

.c-n-t .section-title {
    padding: 60px 0;
    text-align: center;
    padding-bottom: 30px;
}

.c-n-t .section-title h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    line-height: 1px;
    margin-bottom: 15px;
    color: #c2b7b1;
}

.c-n-t .section-title p {
    letter-spacing: 2px;
    font-family: 'Raleway';
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #5777ba;
}

.c-n-t .section-title p::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: #f6d55c;
    bottom: 0;
    left: calc(50% - 30px);
}


/* About Us Section
--------------------------------*/

#c-n-t {
    padding: 80px 0;
}

#c-n-t .about-content {
    padding-top: 40px;
}

#c-n-t .about-content h2 {
    color: #413e66;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

#c-n-t .about-content h3 {
    color: #696592;
    font-weight: 400;
    font-size: 22px;
    font-style: italic;
}

#c-n-t .about-content ul {
    list-style: none;
    padding: 0;
}

#c-n-t .about-content ul li {
    padding-bottom: 10px;
}

#c-n-t .about-content ul li i {
    font-size: 20px;
    padding-right: 4px;
    color: #ee5057;
}

#c-n-t .about-img {
    position: relative;
    margin: 30px 30px 30px 30px;
}

#c-n-t .about-img img {
    width: 100%;
    border: 8px solid #fff;
    transition: .5s;
}

#c-n-t .about-img img:hover {
    width: 100%;
    transform: scale(1.03);
}

#c-n-t .about-img::before {
    position: absolute;
    left: -31px;
    top: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: '';
    background-color: #ebf1fa;
    transition: .5s;
}

#c-n-t .about-img::after {
    position: absolute;
    right: -31px;
    bottom: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: '';
    background-color: #ebf1fa;
    transition: .5s;
}


/**/

.hello {
    opacity: 1 !important;
}

.gallery-c-n .full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.gallery-c-n .full .content {
    background-color: rgba(0, 0, 0, 0.75) !important;
    height: 100%;
    width: 100%;
    display: inline-flex;
    margin-top: 55px;
}

.gallery-c-n .full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.gallery-c-n .byebye {
    opacity: 0;
}

.gallery-c-n .byebye:hover {
    transform: scale(0.2) !important;
}

.gallery-c-n .gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 8px;
}

.gallery-c-n .gallery img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
}

.gallery-c-n .gallery img:hover {
    box-shadow: 0 0 32px #333;
}

.gallery-c-n .gallery .content {
    padding: 4px;
}

.gallery-c-n .gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.gallery-c-n .gallery .gallery-item:hover {
    transform: scale(1.025);
}

@media (max-width: 600px) {
    .gallery-c-n .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@media (max-width: 400px) {
    .gallery-c-n .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

@-moz-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

@-webkit-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

@-o-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

@keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}


/*userprofile*/

.u-p-p .info-u {
    padding-bottom: 10px;
    font-family: 'Raleway';
    letter-spacing: 2px;
    font-weight: 600;
    padding-top: 30px;
}

.u-p-p .b-b-default {
    border-bottom: 1px solid #e0e0e0;
    width: 80%;
}

.u-p-p .title-u {
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: 1px;
}

.u-p-p .text-muted::before {
    content: '\2022';
    bottom: -6px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
    line-height: 0.6;
    position: relative;
    padding-right: 5px;
    color: #ee5057;
}

.u-p-p .text-muted {
    font-family: 'Raleway';
    font-weight: 500;
    padding-bottom: 25px;
}

.u-p-p .img-radius {
    width: 150px;
}

.u-p-p .user-naem {
    font-family: 'raleway';
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 18px;
}

.u-p-p .Save-u {
    font-family: 'Raleway';
    border-color: #ee5057;
    font-weight: 600;
    letter-spacing: 1px;
}

.u-p-p .Save-u:hover {
    background-color: #ee5057;
    border: none;
}

.u-p-p .Save-u i {
    margin-left: 5px;
    font-weight: 600;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.u-p-p .user-profile {
    padding: 280px 0;
}

@media screen and (max-width: 768px) {
    .u-p-p .user-profile {
        padding: 100px 0;
    }
    .u-p-p .u-i-n .img-radius {
        padding-top: 50px;
    }
    .u-p-p .page-content {
        margin-top: -150px;
    }
    .u-p-p .info-u {
        text-align: center;
    }
    .u-p-p .b-b-default {
        border-bottom: 1px solid #e0e0e0;
        width: 100%;
    }
    .u-p-p .e-p-u {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .u-p-p .page-content {
        margin-top: -150px;
        margin-left: 0;
    }
    .u-p-p .e-p-u {
        text-align: center;
    }
    .u-p-p .b-b-default {
        border-bottom: 1px solid #e0e0e0;
        width: 100%;
    }
}

@media screen and (max-width: 414px) {}

.u-p-p .page-content {
    padding-top: 200px;
    padding-left: 50px;
    margin-bottom: 70px;
}

.u-p-p .logout-u {
    border: solid 2px #fff;
    border-radius: 90px;
    width: 35px;
    height: 35px;
    font-size: 24px;
    padding-left: 3.5px;
    padding-top: 3px;
}

.u-p-p .logout-u:hover {
    width: 37px;
    height: 37px;
    font-size: 26px;
    padding-top: 4px;
    box-shadow: 0px 1px 35px 0px rgba(255, 255, 255, 0.199);
}